#addPostView.view.view-addPost.tab(data-page='addPost')
  //- include ../includes/navbar.jade

  .pages.navbar-through.layout-white
    .page(data-page='addPost')
      .page-content
      
            
