.toolbar.toolbar-bottom.tabbar.toolbar-style
  .toolbar-inner
    a.mapView.tab-link.active(href='#mapView')
      img(src='/img/map.png', alt='map')
    |     
    a.searchView.tab-link(href='#searchView')
      img(src='/img/search.png', alt='search')
    |           
    //- a.addPostView.tab-link(href="#addPostView")
    a.addPostView.link(data-view="#addPostView")
      img(src='/img/add.png', alt='addPost')
    |     
    a.favoriteView.tab-link(href='#favoriteView')
      img(src='/img/favorite.png', alt='favorite')
    | 
    a.profileView.tab-link(href='#profileView')
      img(src='/img/login.png', alt='profile')
      //- span.badge.bg-red 4
        
        
        
        
        
        
        
        
        
        
      //- -if(!loginState)
      //-   a.link(href='/user/favorites')
      //-     img(src='/img/favorite.png', alt='favorite')
      //- -else
      //-   a.favoriteView.tab-link(href='#favoriteView', data-login="#{loginState}")
      //-     img(src='/img/favorite.png', alt='favorite')
      //- |     
      //- -if(!loginState)
      //-   a.link(href='/user/favorites')
      //-     img(src='/img/login.png', alt='favorite')
      //- -else
      //-   a.profileView.tab-link(href='#profileView')
      //-     img(src='/img/login.png', alt='profile')
