.navbar
  .navbar-inner
    .left
      a.back.link(href='#')
        i.icon.icon-back-white.icon-back
        span Back
.pages
  #registerFinish.page(data-page='403')
    .page-content
      .content-block.nologin
        #greeting
          h2
            | Welcome to TradeMuch.
            p Please login to get better user experience, dear friend :)
            a.button.external.active(target="_top" href='/rest/auth/facebook')
              span Login
