extends ./layout

block body
  
  include ./includes/splash.jade
  include ./includes/backTop.jade
  
  include ./view-main/statusbar.jade
  include ./view-main/panel.jade
      
  .views
  
    .view.view-main
      include ./view-main/navbar.jade
      include ./view-main/pages.jade
      include ./view-main/toolbar.jade
    //- 
    //- 
    //- =============================================
    //- 
    //- .view.view-main
    //-   include ./view-main/navbar.jade
    //-   include ./view-main/toolbar.jade
    //-   .pages.navbar-through.toolbar-through.tabs
    //-     include ./view-main/pages/map.jade 
    //-     include ./view-main/pages/search.jade
    //-     include ./view-main/pages/favorite.jade
    //-     include ./view-main/pages/profile.jade
    //- 
    //- =============================================
    //- 
    //- .view.view-add
    //-   include ./view-add/navbar.jade
    //-   include ./view-add/toolbar.jade
    //-   .pages.navbar-through.no-toolbar
    //-     include ./view-add/pages/category.jade
    //-     include ./view-add/pages/crateDetail.jade
    //- 
    //- ============================================= 
    //-   
          
block scripts     
  include ./includes/fb.jade
  include ./includes/map.jade
  include ./includes/search.jade


  
