
.navbar
  .navbar-inner
    .left
      a.back.link(href='#')
        i.icon.icon-back-white.icon-back
        span Back
        
.view.page(data-page='chat', style="margin-top:70px; margin-buttom:-70px;")
  //- .page-content
  
  //- .page.toolbar-fixed
  .page-content.messages-content
      .messages(style="height: calc(90% - 70px);overflow-y: scroll;")
        .messages-date
          | Sunday, Feb 9 
          span 12:58
        |       
        .message.message-sent
          .message-text Hello
        |       
        .message.message-received
          .message-name Kate
          |         
          .message-text I am fine, thanks
          |         
          .message-avatar(style='background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)')
        |       
        .messages-date
          | Sunday, Feb 3 
          span 11:58
        |       
        .message.message-sent
          .message-text Nice photo?
        |       
        .message.message-sent.message-pic
          .message-text
            img(src='http://lorempixel.com/300/300/')
          |         
          .message-label Delivered
        |       
        .message.message-received
          .message-name Kate
          |         
          .message-text Wow, awesome!
          |         
          .message-avatar(style='background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)')
          
      .toolbar.messagebar
        .toolbar-inner
            textarea.text-left(placeholder='Message')
            a.link(href='#') Send

          
  //- script(type='text/javascript', src='/js/dependencies/sails.io.js')
  script(type='text/javascript').
  
