
link(rel='stylesheet', href='styles/css/storyDetail.css', type='text/css')
.navbar
    .navbar-inner
        .left
          a.back.link(href='#')
            i.icon.icon-back-white.icon-back
            span Back
        .right
          a#finishStep Finish
    .pages
      .page.navbar-fixed(data-page='storyDetail')
        .page-content
          -console.log(categoryItems);
          .list-block
            
            .item-content
              .item-inner
                .item-input.fileUpload-input
                  .btn.btn-primary.fileUpload-btn
                    span Upload photos
                    input.uploadBtn(type='file',accept="image/*",name='image',capture)
                  .lightbox
                    img.preview
                  .canvasWrapper(style="display:none")
                    canvas#viewport    

                    
            .item-content
              form#storyImageUpload
                input(form='storyImageUpload',type='hidden',name='picBase64') 
                   
              form#storyDetailChoose
                .list-block.row
                
                  .col-90
                    .item-content
                      .item-media
                        i.icon.icon-form-toggle
                      .item-inner
                        .item-title.label.black Seeking?
                        .item-input.center
                          label.label-switch
                            input.seeking(type='checkbox',name=)
                            .checkbox
                  
                    .item-content
                      .item-media
                        i.icon.icon-form-comment
                      .item-inner
                        .item-title.label.black Title
                        .item-input
                          input(type='text', name='title', placeholder='what is this?')
                  
                    .item-content
                      .item-media
                        i.icon.icon-form-comment
                      .item-inner
                        .item-title.label.black Content
                        .item-input
                          textarea.resizable(placeholder='description', type='text', name='content')
                  
                    .item-content
                      .item-media
                        i.icon.icon-form-url
                      .item-inner
                        .item-title.label.black Price
                        .item-input.StoryPrice.center
                          input(type='number', pattern="\d*", name='price', placeholder='give a price', value='0', min="0")
                  
                  
                  //- below inputs have been hidden 
                  .item-content(style="display:none")
                    .item-inner
                      .item-input
                        input(type='hidden', name='item', placeholder="item type")
                        
                  .item-content(style="display:none")
                    .item-inner
                      .item-input
                        .row.quickDatePickArea
                          .col-auto
                            a.button.button-round(href='', data-value='3-d') 3days
                          .col-auto
                            a.button.button-round(href='', data-value='1-w') 1week
                          .col-auto
                            a.button.button-round(href='', data-value='1-m') 1month
                          .col-auto
                            a.button.button-round(href='', data-value='pick') custom
                        .row
                          input(type='text', name='postPeriod', placeholder='posting period', id='calendar-postPeriod', readonly)
                        .row.dateInput(style="display:none")
                          .col-50
                            input(type='date', name='postPeriodStart', placeholder='start', id='postPeriodStart')
                          .col-50
                            input(type='date', name='postPeriodEnd', placeholder='end', id='postPeriodStart')
                  
                  -console.log(categoryItems.length);
