// Tab 2 - View 2
#tab2.view.tab
  .navbar
    .navbar-inner
      .center View 2
  |     
  .pages.navbar-fixed
    .page(data-page='home-2')
      .page-content
        .content-block
          p This is view 2
