#mapView.view.tab.active
  |        
  include ../navbar.jade
  |     
  .pages.navbar-fixed
    .page(data-page='home')
      .page-content
        .content-block
          |     
          #map(style="width:100%;height:100%")
