#favoriteView.view.view-favorite.tab(data-page='favorite')
  include ../includes/navbar.jade
  
  .pages.navbar-through
    .page(data-page='favorite')
      .page-content
      
        #map(style="width:100%;height:100%")
            
