#mapView.page.tab.active(data-page='home')
  .page-content
    #map(style="width:100%;height:100%")



//- .page.navbar-fixed(data-page='home')
//- 
//-   .page-content.tabs(style="padding-bottom:44px")
//-     .content-block(style="height: 100%; padding: 0px; margin: 44px 0 -70px 0;")
//- 
//-       include ./tab-map.jade
//-       include ./tab-search.jade
//-       include ./tab-favorite.jade
//-       include ./tab-profile.jade
//- a
