/* ------------ profile page ------------*/

#profileView .content-block {
  overflow: hidden;
}
#profileView > .page-content {
  margin-top: -60px;
  margin-bottom: 60px;
}

/* ------------ picture ---------------- */

.profile-picture {
  padding-right: 5%;
  float: right;
}
.profile-picture > .light-box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 60%;
}
.profile-picture > .light-box > img {
  width: auto;
  height: 100%;
}

.noPostItem > img {
  width: 35%;
  margin: 10px;
}

.noPostItem {
  text-align: center;
}

.noPostItem > p{
 font-size: 16px;
 font-weight: 900;
}

/* ------------ detail ----------------- */

.profile-detail {
  text-align: center;
  padding-top: 15px;
  width: 80%;
  float: left;
}
.profile-detail > span.name {
  font-size: 26px;
  color: #01579b;
}
.profile-detail > .datails {
  /*font-size: 17px;*/
}
.profile-detail > .datails > .row {
  font-size: 18px;
  margin: 0;
}
.profile-detail > .datails > div span {
  font-size: 17px;
}

/* ------------ description ------------ */

.profile-description {
  font-size: 14px;
  height: 40px;
  padding-left: 8%;
  padding-top: 11px;
  margin-top: 20px;
}
